.ingredients{
  margin-top: 100px;
  height: 290px;
  width: 100%;
  overflow: auto;
}

.topSide{
  background-image: url(../images/top.jpg);
  background-size: 500px;
  height: 110px;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
}
.bottomSide{
  background-image: url(../images/bottom.jpg);
  background-size: 500px;
  height: 60px;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
}

.lettuceAddOn{
  background-image: url(../images/lettuce.jpg);
  background-size: 500px;
  height: 50px;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
}
.baconAddOn{
  background-image: url(../images/bacon.jpg);
  background-size: 480px;
  height: 20px;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
}
.cheeseAddOn{
  background-image: url(../images/cheese.jpg);
  background-size: 500px;
  padding-top: 5px;
  height: 30px;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
}
.meatAddOn{
  background-image: url(../images/meat.jpg);
  background-size: 500px;
  height: 80px;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
}
